python-telegram-bot[job-queue]>=21.4
ccxt>=4.0.0
yfinance>=0.2.40
# mplfinance
pandas>=2.2.0
gspread>=6.0.0
oauth2client
python-dotenv
flask
nest_asyncio
pandas_ta
requests
google-genai>=0.4.0
groq
kiteconnect
packaging
openai>=1.0.0
